services:
    postgres:
        image: postgres:15-alpine
        container_name: sport_snap_db
        restart: always
        environment:
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
            POSTGRES_DB: ${DB_NAME:-sport_snap}
        ports:
            - '${DB_PORT:-5433}:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4
        container_name: sport_snap_pgadmin
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@sportsnap.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - '5050:80'
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        depends_on:
            - postgres

volumes:
    postgres_data:
    pgadmin_data:
